body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
div.container {
  align-self: center;
  display: grid;
  grid-template-areas: "head head"
                       "sidebar main";
  grid-template-columns: min-content auto;
  grid-template-rows: 95px auto;
  gap: 15px;
  padding: 15px;
  max-width: 1750px;
  width: calc(100vw - 2*(15px));
  flex-grow: 1;
  overflow: hidden;
}
div.head {
  grid-area: head;
  font-size: 69px;
  display: flex;
  flex-direction: row;
}
div.head small {
  font-size: 20px;
}
div.head options {
  font-size: 14px;
  margin-left: auto;
}
div.sidebar {
  grid-area: sidebar;
  background-color:#EEE;
  padding: 15px;
  border-radius: 5px;
  white-space: nowrap;
  max-width: 33vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
div.sidebar group {
  margin-left: 17px;
  display: block;
  border-left: 1px black solid;
  flex-shrink: 0;
}
div.sidebar li {
  display: block;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
}
div.sidebar .active {
  font-weight: bold;
  background: #0001;
  border-radius: 5px;
}
div.sidebar li a {
  color: black;
  text-decoration: none;
}
div.sidebar li a:visited {
  color: black;
}
div.sidebar li img {
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
}
div.sidebar option {
  margin-top: auto;
  margin-left: auto;
}
div.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-right: 1vw;
}
div.main div {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: #4448 4px 4px 4px 2px;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px;
  flex-shrink: 0;
}
div.main div h1, div.main div h3 {
  text-decoration: underline;
  margin: 0;
  flex-grow: 1;
}
div.main div h3 {
  cursor: pointer;
}
div.main group {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 3vw;
  flex-shrink: 0;
}
div.main group div {
  box-shadow: #444A 1px 1px 1px 1px;
}
div.main li {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #DDD;
  padding: 15px;
  margin: 15px 0 0 3vw;
  border-radius: 4px;
  flex-shrink: 0;
}
div.main li label {
  flex-grow: 1;
}